# GoldenSneakers API
GOLDENSNEAKERS_API_URL=https://www.goldensneakers.net/api/assortment/
GOLDENSNEAKERS_JWT_TOKEN=

# Basic Auth for Import Wizard Pro
# URL format: https://username:password@gs-proxy.yourdomain.com/api/assortment
PROXY_AUTH_USERNAME=
PROXY_AUTH_PASSWORD=
